<h1 class="text-2xl mt-4 font-bold text-center text-white"
    >Angular problemitas</h1>

<div class="flex ">
  <nav class="flex flex-col max-w-44 border-2 rounded-xl border-gray-400">
    <a routerLink="/dado" class="text-white text-center hover:underline focus:ring-4 p-2 rounded-xl"
       routerLinkActive="bg-blue-600">Dados</a>

    <a routerLink="/dado-boton" class="text-white text-center focus:ring-4 p-2 rounded-xl"
       routerLinkActive="bg-blue-600">Dados con botón</a>

    <a routerLink="/cronometro" class="text-white text-center focus:ring-4 p-2 rounded-xl"
       routerLinkActive="bg-blue-600">Cronometro</a>

    <a routerLink="/selector" class="text-white text-center focus:ring-4 p-2 rounded-xl"
       routerLinkActive="bg-blue-600">Selector numerico</a>

    <a routerLink="/selector-min-max" class="text-white text-center focus:ring-4 p-2 rounded-xl"
       routerLinkActive="bg-blue-600">Selector numerico(Min y Max)</a>

    <a routerLink="/articulos" class="text-white text-center focus:ring-4 p-2 rounded-xl"
       routerLinkActive="bg-blue-600">Administracion de articulos</a>

    <a routerLink="/actividades" class="text-white text-center focus:ring-4 p-2 rounded-xl"
       routerLinkActive="bg-blue-600">Actividades</a>

    <a routerLink="/form-contact" class="text-white text-center focus:ring-4 p-2 rounded-xl"
       routerLinkActive="bg-blue-600">Formulario de contacto</a>

    <a routerLink="/conversion" class="text-white text-center focus:ring-4 p-2 rounded-xl"
       routerLinkActive="bg-blue-600">Conversion</a>

    <a routerLink="/alumno" class="text-white text-center focus:ring-4 p-2 rounded-xl"
       routerLinkActive="bg-blue-600">Datos alumno</a>

    <a routerLink="/validacion" class="text-white text-center focus:ring-4 p-2 rounded-xl"
       routerLinkActive="bg-blue-600">Validacion formulario</a>

    <a routerLink="/multiplo" class="text-white text-center focus:ring-4 p-2 rounded-xl"
       routerLinkActive="bg-blue-600">Multiplo de 5</a>

    <a routerLink="/validacion-reactiva" class="text-white text-center focus:ring-4 p-2 rounded-xl"
       routerLinkActive="bg-blue-600">Validacion reactiva</a>

  </nav>

  <div class="flex-grow">
    <router-outlet></router-outlet>
  </div>

</div>


